body {
    background: linear-gradient(to bottom, #a0e9ff, #ffffff);
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #03396c;
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: 2px solid #03396c;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #e0f7ff;
}
